* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.login-component {
  background-image: url("../public/loginBB.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.login-form {
  width: 480px;
  height: 400px;
  /* background-color: #ecf3f9; */
  /* backdrop-filter: blur(5px); */
  /* background-color: #877d97;    */
}

.reset-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
.reset-link:hover {
  text-decoration: underline;
  color: rgb(226, 226, 234);
}
.signin-btn {
  width: 100%;
  background-color: #0b59ce;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}
.signin-btn:hover {
  background-color: #094db5;
}

/* DASHBOARD */
.bg-color {
  background-color: #f1f8ff;
}
.activityOverviewParentContainer {
  height: 50%;
  width: 30%;
}

.activityOverviewContainer1 {
  background-color: #daedff;
}
.activityOverviewContainer2 {
  background-color: #d0fedd;
}
.activityOverviewContainer3 {
  background-color: #f9f4c4;
}
.activityOverviewContainer4 {
  background-color: #e2cefb;
}
.dashboardAppointmentParentContainer {
  width: 70%;
}

/* Side-NAV */
.side-link {
  text-decoration: none;
  color: #7f8f98;
}
.side-link:hover .hover-div {
  background-color: #d6eaff;
  color: #0d6efd;
}
.side-link.active .hover-div {
  background-color: #f1f8ff;
  color: #0d6efd;
  position: relative;
}
.side-link.active .hover-div::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #3a7cd9;
  border-radius: 0 4px 4px 0;
}

.educationContentSubTitle {
  font-size: small;
}
.educationContentSubTitle-patient {
  font-size: small;
  color: red;
}

/* Dropdown */
.dropdown {
  border: 1px solid black;
  border-radius: 10px;
}
.btn-primary {
  background-color: #3497f9;
  color: #ffffff;
}

/* PatientPage */

.Patient-Info {
  background-color: white;
  margin-left: 40px;
  margin-right: 30px;
  border-radius: 10px;
}
.Patient-table {
  color: #6d6d6d;
}

/* PatientPage filter-input field */
.date-filter-input {
  border: 2px solid #4da3ff;
  padding: 4px 16px;
  border-radius: 20px;
  max-width: 280px;
  background: #ffffff;
}
.date-filter-input .form-control {
  border: none;
  box-shadow: none;
  background: transparent;
}
.date-filter-input .input-group-text {
  border: none;
}
.search-bar {
  border: none;
  padding: 6px 16px;
  background: #d5e5fc;
}

.PatientPgeButtonM {
  border-radius: 6px;
  border: 2px solid rgb(46, 107, 231);
  background-color: #4b93f8;
}
.PatientPgeButtonE {
  border-radius: 6px;
  border: 2px solid darkgreen;
  background-color: #c3f1c5;
}
.PatientPgeButtonC {
  border-radius: 6px;
  border: 2px solid red;
  background-color: #f9d0c2;
}
.PatientPgeButtonI {
  border-radius: 6px;
  border: 2px solid blue;
  background-color: #d5e5fc;
}

/* {MedicineInventoryDropdown } */
.MedicineInventoryDropdown {
  border-radius: 20px;
  border: 2px solid #96999c;
}
.MedicinePgeButtonN {
  border-radius: 10px;
  border: 2px solid #96999c;
  background-color: #fff;
}
.MedicinePgeButtonA {
  border-radius: 10px;
  border: 2px solid blue;
  background-color: #fff;
}
.MedicinePgeButtonD {
  border-radius: 10px;
  border: 2px solid red;
  background-color: #fff;
}
.Medicine-table {
  color: #6d6d6d;
}
.MedicineCheckbox {
  margin-right: 10px;
}

.medicine-th-box {
  display: flex;
  align-items: center;
  gap: 10px; /* spacing between checkbox and text */
}

.MedicineCheckbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

/* {MessagePage} */
.MessagePageSubTitle {
  font-size: small;
  padding-top: 10px;
  color: #6d6d6d;
}
.MessagePageSubTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat-window {
  height: 80vh;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
}

.chat-header {
  background: #1b75ff;
}

.chat-input {
  background-color: #b8bdc4;
}
.chat-body {
  flex-grow: 1;
  /* overflow-y: auto; */
  background: #d0d5dd;
}

.msg-box {
  max-width: 60%;
  font-size: 14px;
}
.message-in .msg-box {
  background-color: #d8ecfa;
}
.message-out .msg-box.outgoing {
  background: #1b75ff;
}

.date-badge {
  background: #e0e3e7;
  font-size: 12px;
  color: #555;
}

.chat-body::-webkit-scrollbar {
  width: 6px;
}

.chat-body::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}
.LogoutButton {
  /* border: 1px solid rgb(194, 180, 180); */
  border: none;
  color: #6d6d6d;
}

/* {Doctors-Page} */
.Doctors-Info {
  background-color: white;
  margin-left: 40px;
  margin-right: 30px;
  border-radius: 10px;
}
.Doctor-table {
  color: #6d6d6d;
}

.DoctorPageButtonM {
  border-radius: 6px;
  border: 2px solid rgb(46, 107, 231);
  background-color: #4b93f8;
}
.DoctorPageButtonE {
  border-radius: 6px;
  border: 2px solid darkgreen;
  background-color: #c3f1c5;
}
.DoctorPageButtonC {
  border-radius: 6px;
  border: 2px solid red;
  background-color: #f9d0c2;
}
.DoctorPageButtonI {
  border-radius: 6px;
  border: 2px solid blue;
  background-color: #d5e5fc;
}
.EducationPage {
  background-color: white;
  margin-left: 40px;
  margin-right: 30px;
  border-radius: 10px;
}
.SettingPage{
  height: auto;
  padding-left: 20px;
}
.card-text{
  color:gray;
}